html {
     font-size: 62.5%;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
 body {
     max-width: 75%;
     font-size: 1.8rem;
     line-height: 1.618;
     margin: auto;
     color: #d6dbd8;
     background-color: #0d110b;
     padding: 13px;
}
 @media (max-width: 684px) {
     body {
         font-size: 1.53rem;
    }
}
 @media (max-width: 382px) {
     body {
         font-size: 1.35rem;
    }
}
 h1, h2, h3, h4, h5, h5 {
     line-height: 1.1;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
     font-weight: 700;
     margin-top: 3rem;
     margin-bottom: 1.5rem;
     overflow-wrap: break-word;
     word-wrap: break-word;
     -ms-word-break: break-all;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
}
 h1 {
     font-size: 2.35em;
}
 h2 {
     font-size: 2.00em;
}
 h3 {
     font-size: 1.75em;
}
 h4 {
     font-size: 1.5em;
}
 h5 {
     font-size: 1.25em;
}
 h5 {
     font-size: 1em;
}
 p {
     margin-top: 0px;
     margin-bottom: 2.5rem;
}
 small, sub, sup {
     font-size: 75%;
}
 hr {
     border-color: #a0ea98;
}
 a {
     text-decoration: none;
     color: #a0ea98;
}
 a:hover {
     color: #52d843;
}
 ul {
     padding-left: 1.4em;
     margin-top: 0px;
     margin-bottom: 2.5rem;
}
 li {
     margin-bottom: 0.4em;
}
 blockquote {
     margin-left: 0px;
     margin-right: 0px;
     padding-left: 1em;
     padding-top: 0.8em;
     padding-bottom: 0.8em;
     padding-right: 0.8em;
     border-left: 5px solid #a0ea98;
     border-radius: 0.5rem;
     margin-bottom: 2.5rem;
     background-color: #393f35;
}
 blockquote.blue {
     border-left: 5px solid #98a0ea;
     background-color: #35393f ;
}
 blockquote.red {
     border-left: 5px solid #ea98a0;
     background-color: #3f3539 ;
}
 blockquote.yellow {
     border-left: 5px solid #e5ea98;
     background-color: #3f3b35 ;
}
 blockquote p {
     margin-bottom: 0;
}
 img {
     height: auto;
     max-width: 100%;
     margin-top: 0px;
     margin-bottom: 2.5rem;
}
 img.screenshot {
     display: inline-block;
     opacity: 0.8;
     height: auto;
     max-width: 40rem;
     margin: 2rem;
}
 img.screenshot:hover {
     opacity: 1.0;
     border: 5px ridged white;
     cursor: zoom-in;
     text-decoration: none;
}
 a:hover {
     text-decoration: none;
}
/* Pre and Code */
 pre {
     background-color: #40363a;
     display: block;
     padding: 1em;
     overflow-x: auto;
     margin-top: 0px;
     margin-bottom: 2.5rem;
}
 code {
     font-size: 0.9em;
     padding: 0 0.5em;
     background-color: #40363a;
     white-space: pre-wrap;
}
 pre > code {
     padding: 0;
     background-color: transparent;
     white-space: pre;
}
/* Tables */
 table {
     text-align: left;
     width: 100%;
     border-collapse: collapse;
}
 td, th {
     min-width: 15rem;
     padding: 0.5em;
     border-bottom: 1px solid #40363a;
}
 th {
     text-decoration: bold;
     font-size: 2.5rem;
}
/* Buttons, forms and input */
 input, textarea {
     border: 1px solid #d9d8dc;
}
 input:focus, textarea:focus {
     border: 1px solid #eb99a1;
}
 textarea {
     width: 100%;
}
 .button, button, input[type="submit"], input[type="reset"], input[type="button"] {
     display: inline-block;
     font-family: Tahoma;
     padding: 3px 25px;
     margin-left: 10px;
     margin-right: 10px;
     text-align: center;
     text-decoration: none;
     white-space: nowrap;
     background-color: #f7f8f9;
     color: #120c0e;
     border-radius: 4px;
     border: 1px solid #e3f6fc;
     cursor: pointer;
     box-sizing: border-box;
}
 .button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
     cursor: default;
     opacity: .5;
}
 .button:focus:enabled, .button:hover:enabled, button:focus:enabled, button:hover:enabled, input[type="submit"]:focus:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:focus:enabled, input[type="reset"]:hover:enabled, input[type="button"]:focus:enabled, input[type="button"]:hover:enabled {
     background-color: #cccccc;
     border-color: #888888;
     color: #120c0e;
     outline: 0;
}
 textarea, select, input[type] {
     color: #d9d8dc;
     padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
     margin-bottom: 10px;
     background-color: #40363a;
     border: 1px solid #40363a;
     border-radius: 4px;
     box-shadow: none;
     box-sizing: border-box;
}
 textarea:focus, select:focus, input[type]:focus {
     border: 1px solid #eb99a1;
     outline: 0;
}
 input[type="checkbox"]:focus {
     outline: 1px dotted #eb99a1;
}
 label, legend, fieldset {
     display: block;
     margin-bottom: .5rem;
     font-weight: 600;
}
/* The side navigation menu */
 .sidebar {
     margin: 0;
     top: 0;
     right: 0;
     padding: 0;
     width: 200px;
     position: fixed;
     height: 100%;
     overflow: auto;
}
/* Sidebar links */
 .sidebar a {
     display: block;
     color: #A0EA98;
     padding: 16px;
     text-decoration: none;
}
/* Active/current link */
 .sidebar a.active {
     background-color: #A0EA98;
     color: #111;
}
/* Links on mouse-over */
 .sidebar a:hover:not(.active) {
     background-color: #393F35;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
 div.content {
     padding: 1px 16px;
     height: 1000px;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
 @media screen and (max-width: 700px) {
     .sidebar {
         width: 100%;
         height: auto;
         position: relative;
    }
     .sidebar a {
        float: right;
    }
     div.content {
        margin-right: 0;
    }
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
 @media screen and (max-width: 400px) {
     .sidebar a {
         text-align: center;
         float: none;
    }
}
 span.continue {
	margin: 0 auto;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: table;
	max-width: 100%;
    line-height: 0.8;
	font-size: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}